{% extends 'application1/base.html' %}

{% block title %}{{headman.Hitem}}{% endblock %}

{% block body %}
<div >
    <div>
        <a href="{% url 'DELETHEADMAN' headman.id%}" class="btn btn-outline-danger " >Удалить запись</a>
    </div><br>
    <div class="card bg-danger  m-2 p-5">
        <h2>Предмет: {{headman.Hitem}}</h2><br>
        <h2>Действительно до: {{headman.Hrealy}}</h2><br>
        <h2>Задание: {{headman.Hexercise}}</h2><br>
        <h2>Дата публикации: {{headman.Hdata}}</h2>
        <h2>Ид: {{headman.id}}</h2>
    </div>
</div>
{% endblock %}

