{% extends 'application1/base.html' %}

{% block title %}{{teacher.Tmessage}}{% endblock %}

{% block body %}
<div>
    <div>
        <a href="{% url 'DELETTEACHER' teacher.id%}" class="btn btn-outline-danger ">Удалить запись</a>
    </div><br>
    <div class="card bg-warning m-2 p-5">

        <h2>Действительно до: {{teacher.Trealy}}</h2><br>
        <h2>Сообщение: {{teacher.Tmessage}}</h2><br>
        <h2>Дата публикации: {{teacher.Tdata}}</h2>
        <h2>Ид: {{teacher.id}}</h2>
    </div>
</div>

{% endblock %}