{% extends 'application1/base.html' %}

{% block title %}Главная{% endblock %}

{% block body %}

<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;">
    <div class="list-group list-group-flush border-bottom scrollarea">

      <a href="{% url 'HTLook' %}" class="list-group-item list-group-item-action py-3 lh-sm">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Посмотреть задания</strong>

        </div>
        <div class="col-10 mb-1 small">Нажав на кнопку 'Посмотреть задания' вы можите узнать задания за всё время. </div>
      </a>
      <a href="{% url 'HTAddT' %}" class="bg-warning list-group-item list-group-item-action py-3 lh-sm">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Добавить сообщение</strong>

        </div>
        <div class="col-10 mb-1 small">Добавить сообщение - предназначено для классного руководителя. </div>
      </a>
      <a href="{% url 'HTAddH' %}" class="bg-danger list-group-item list-group-item-action py-3 lh-sm">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Добавить Задание</strong>

        </div>
        <div class="col-10 mb-1 small">Добавить Задание - предназначено для старосты класса чтоб вписывал задания.</div>
      </a>

    </div>
  </div>

{% endblock %}

