{% extends 'application1/base.html' %}

{% block title %}Задания{% endblock %}

{% block body %}

{% if TEACHERdef %}

    {% for el1 in TEACHERdef %}
        <div id='HTLook-div1'class="card bg-warning m-2 p-5 ">
            <h2>сообщение: {{ el1.Tmessage  }}</h2>
            <h6>Опубликовано: {{ el1.Tdata  }}</h6>
            <h6>Сделать до: {{ el1.Trealy  }}</h6><br>

            <a href="{% url 'BLANCTEACHER' el1.id %}" class="btn text-bg-primary "  style="max-width: 18rem;" >Подробней</a>
        </div>
    {% endfor %}
{% else %}
    <h1 class="card bg-warning m-2 p-5" >Сообщений нет!</h1>
{% endif %}



{% if HEADMANdef %}
    {% for el1 in HEADMANdef %}
    <div class="card bg-danger  m-2 p-5">
        <h2>{{ el1.Hitem  }}</h2>
        <h6>Опубликовано: {{ el1.Hdata  }}</h6>
        <p>Задание: {{ el1.Hexercise  }}</p><br>
        <a href="{% url 'BLANCHEADMAN' el1.id %}" class="btn text-bg-primary "  style="max-width: 18rem;" >Подробней</a>
    </div>
    {% endfor %}
{% else %}
    <h1 class="card bg-danger  m-2 p-5" >Домашнего задания нет!</h1>
{% endif %}

{% endblock %}